@import "../../../preferences.scss";

.DashboardAbout{
  @include dashboardBlock;
  @include centerBlock;
  @include jetBold;
  background-image: url("../style/img/about-background.png");

  div{
    width: 40%;
    @include centerBlock;
    flex-direction: column;
  }
}

.TeamAbout{
  @include newBlock;
  @include aroundBlock;
  justify-content: space-between;
}
.person{
  width: 33.2%;
  height: 100%;

  &:hover .hoverBlock{
    display: block;
    opacity: 1;
    transition: opacity 0.5s, display 0.5s;
    @include aroundBlock;
    flex-direction: column;
    height: 50%;
    width: 100%;
    background-color: #4c4f6988;
    backdrop-filter: blur(10px) grayscale(1);
    border-top: 4px solid $black;
    animation: fade 1s ease-in-out;

  h1{
    @include jetBold;
    text-shadow: 8px 8px 4px $primary;
    font-size: 3vw;
    text-decoration: underline;
  }

  div{
    width: 60%;
  }

  p{
    @include jet;
    text-align: center;
  }

  button{
    font-size: 2vw;
    font-family: "jetBold";
    color: $primary;
    padding: 1% 4%;
    border-radius: 48px;
    border: 4px solid $primary;
    @include colorize($green);
    &:hover{
        color: $white;
        border-color: $white;
      }
  }
}

 transition: all 0.5s ease-in-out;
}
.lefBlock{
  @include personBlock;
  background-image: url("../style/img/med1.png");
  &::before{
    content: " ";
    position: absolute;
    top: 0; 
    left: 0;
    filter: grayscale(100%);
    z-index: 0;
  }
}
.cenBlock{
  @include personBlock;
  background-image: url("../style/img/med2.png");
  &::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    filter: grayscale(100%);
  }
}
.rigBlock{
  @include personBlock;
  background-image: url("../style/img/med3.png");
  &::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    filter: grayscale(100%);
  }
}
.hoverBlock{
  display: none;
  transition: opacity 0.5s, display 0.5s;
  opacity: 0;
  position: relative;
}
.HistoryAbout{
  @include newBlock;
  display: flex;
}
.hist{
  height: 100%;
  width: 49.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.leftAbout{
  background-color: $white;
}
.rightAbout{
  background-color: $black;
}

.headingL{
  width: 100%;
  display: flex;
  height: 10%;
  justify-content: end;
  align-items: center;
  font-family: "jetBold";
  color: $black;
  text-shadow: 8px 8px 4px $primary;
  font-size: 3vw;

  p{
    padding-right: 3%;
  }
}
.headingR{
  width: 100%;
  display: flex;
  height: 10%;
  justify-content: start;
  align-items: center;
  font-family: "jetBold";
  color: $white;
  text-shadow: 8px 8px 4px $primary;
  font-size: 3vw;

  p{
    padding-left: 3%;
  }
}

.blocking{
  height: 80%;
  border-inline: 4px solid $primary;
  border-inline-style: none solid;
  @include aroundBlock;
  flex-direction: column;
}
.blockingR{
  height: 80%;
  border-inline: 4px solid $primary;
  border-inline-style: solid none;
  @include aroundBlock;
  flex-direction: column;
}
.stage{ 
  width: 100%;
  height: 25%;
  display: flex;
}
.transcripL{
  width: 60%;
  height: 100%;
  @include centerBlock;
  justify-content: end;
  @include jet;
  color: $black;
  text-align: end;

  div{
    width: 75%;
    height: 80%;
    @include centerBlock;
    justify-content: end;
    padding-right: 5%;
  }
}
.transcripR{
  width: 60%;
  height: 100%;
  @include centerBlock;
  justify-content: start;
  @include jet;
  color: $white;
  text-align: start;

  div{
    width: 75%;
    height: 80%;
    @include centerBlock;
    justify-content: start;
    padding-left: 5%;
  }
}
.year{
  width: 40%;
  height: 100%;
  border-left: 6px solid $primary;
  display: flex;
  flex-direction: column;
}
.yearR{
  width: 40%;
  height: 100%;
  border-right: 6px solid $primary;
  display: flex;
  flex-direction: column;
}
.real-year{
  height: 50%;
  border-bottom: 6px solid $primary;
  @include centerBlock;
  font-family: "jetBold";
  font-size: 3vw;
  color: $black;
}
.real-yearR{
  height: 50%;
  border-bottom: 6px solid $primary;
  @include centerBlock;
  font-family: "jetBold";
  font-size: 3vw;
  color: $white;
}
.nothing-year{
  height: 50%;
}
