// --- COLORS ---
$primary: #209FB5;
$black: #4C4F69;
$white: #DCE0E8;
$red: #D20F39;
$green: #40A02B;
$orange: #FE640B;

$pri2: #67BFCE;
$pri3: #B1DBE2;

// --- default ---
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body{
  background: $black;
}

// --- MIXIN ---
@mixin centerBlock{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin aroundBlock{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin dashboardBlock{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}
@mixin imgBlock{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@mixin personBlock{
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
}
@mixin newBlock{
  width: 100vw;
  height: 100vh;
}

@mixin jet{
  font-family: "jet";
  font-size: 1.5vw;
  color: $white;
}
@mixin jetBold{
  font-family: "jetBold";
  font-size: 5vw;
  color: $white;
  text-shadow: 8px 8px 4px $black;
}

@mixin colorize($backclr){
  &:hover{
    background-color: $backclr;
    transition: 1s;
  }
  &:not(&:hover){
    transition: 1s;
  }
}
@mixin skewedBlock{
  width: 60%;
  height: 100%;
  position: relative;
  overflow: hidden;

  &::before{
  content: '';
  position: absolute;
  left: -20%;
  top: 50%;
  transform: translateY(-50%) rotate(20deg);
  background-color: $black;
  width: 40%;
  height: 140%;
  }
}

@mixin hovHosp{
  width: 100%;
  height: 100%;
  backdrop-filter: blur(16px) grayscale(1);
  text-shadow: 4px 4px $black;

  button{
    background-color: $white;
    padding: 1% 8%;
    font-family: "jetBold";
    font-size: 2vw;
    border-radius: 96px;
    border: 4px solid $primary;
    color: $primary;
    @include colorize($green);
    &:hover{
      color: $white;
      border-color: $white;
    }
  }
}

@mixin hr{
  height: 2%;
  width: 70%;
  display: flex;
  flex-direction: column;
  hr{
    height: 50%;
    border: none;
  }
}
@mixin inputHolder{

}
@keyframes fade{
  0% { opacity: 0;}
  100% { opacity: 1;}
}

// --- FONTS ---

// jetbrains
@font-face {
    font-family: "jet";
    src: url(../public/font/JetBrainsMono-Regular.ttf);
}
@font-face {
    font-family: "jetBold";
    src: url(../public/font/JetBrainsMono-Bold.ttf);
}
@font-face {
    font-family: "jetExtra";
    src: url(../public/font/JetBrainsMono-ExtraBold.ttf);
}

// caveat
@font-face {
    font-family: "caveat";
    src: url(../public/font/Caveat-Regular.ttf);
}
@font-face {
    font-family: "caveatBold";
    src: url(../public/font/Caveat-Bold.ttf);
}

// --- ROOT COMPONENT --- 
.App{
    width: 100vw;
    height: 100vh;
}
